.container {
    display: flex;
    background-color: #E5E5E5;
}

.contentContainer {
    width: 100%;
    padding-inline: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #FBFCFD;
}

.graphsContainer {
    display: flex;
    flex-direction: column;
}

.graphHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    color: black;
}

.highlightedGraph {
    width: 100%;
    background-color: white;
    border: 2px solid var(--gray-50);
    height: 40rem;
    border-radius: .4rem;
    padding-inline: 2rem;
}

.graphs {
    margin-top: 4rem;
    display: flex;
    gap: 2rem;
}

.graph {
    width: 100%;
    height: 35rem;
    border-radius: .4rem;
    padding-inline: 2rem;
    border: 2px solid var(--gray-50);
    background-color: white;
    margin-bottom: 4rem;

}

@media(max-width: 900px) {
    .graphHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        color: black;
        font-size: .8rem;
    }

    .graphs {
        flex-direction: column;
    }
}