.container {
    display: flex;
}

.contentContainer {
    width: 100%;
    padding-inline: 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.graphsContainer {
    display: flex;
    flex-direction: column;
}

.graphHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    color: white;
}

.highlightedGraph {
    width: 100%;
    background-color: gray;
    height: 40rem;
    border-radius: .4rem;
    padding-inline: 2rem;
}

.graphs {
    margin-top: 4rem;
    display: flex;
    gap: 2rem;
}

.graph {
    width: 100%;
    background-color: gray;
    height: 35rem;
    border-radius: .4rem;
    padding-inline: 2rem;

}