* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --gray-50: #E5E5E5;

    --blue-50: #E3F2FD;
    --blue-100: #2196F3;
}

body, button, textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}
