.container {
    display: flex;
}

.contentContainer {
    width: 100%;
    padding-inline: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #FBFCFD;
}

.form {
    width: 100%;
    background-color: red;
}