.container {
    width: 100%;
    height: 15vh;    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.greetings {
    display: flex;
    align-items: center;
}

.notificationBar {
    display: flex;
    align-items: center;
}

.userProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userProfile img {
    width: 6rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}