.container {
    width: 100%;
    height: 15vh;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--gray-50);
    margin-top: 2rem;
    padding-inline: 2rem;
    border-radius: .4rem;
}

.greetings {
    display: flex;
    align-items: center;
}

.notificationBar {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.userProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userProfile img {
    width: 6rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}