.container {
    min-height: 100vh;
    width: 30rem;
    padding: 2rem;
    background-color: #FFFFFF;
    /* background-color: var(--blue-50); */
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--gray-50);
}

.logo {
    width: 100%;
    height: 12rem;
    border-bottom: 2px solid var(--gray-50);
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkSession {    
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}

.signOutButton {
    width: 100%;
    height: 4rem;
    padding-inline: 2rem;
    color: black;
    font-weight: 500;
    font-size: 1.6rem;
    border-radius: .4rem;
    transition: background-color .2s;
    display: flex;
    align-items: center;
    gap: 4rem;
    border: none;
    background-color: transparent;
}

.signOutButton:hover {
    background-color: red;
    color: white;
}

@media(max-width: 900px) {
    .container {
        display: none;
    }
} 