.container {
    display: flex;
}

.contentContainer {
    width: 100%;
    padding-inline: 5rem;
}

.tableContainer {
    min-height: 60rem;
    background-color: white;
    border: 1px solid var(--gray-50);
    border-radius: .4rem;
    padding: 6rem;
    margin-top: 2rem;
}

.tableTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    padding-inline: 5rem;
    border: 1px solid var(--gray-50);
}

.createUserButton {
    background-color: var(--blue-100);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .4rem;
    color: white;
    width: 20rem;
    height: 6rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, td, tr {
    border: 1px solid var(--gray-50);
}

.table th {
    height: 5rem;
}

.tableBody td {
    text-align: center;
    height: 5rem;
}
