.container {
    display: flex;
}

.contentContainer {
    width: 100%;
    padding-inline: 5rem;
}

.tableContainer {
    min-height: 50vh;
    background-color: gray;
    border-radius: .4rem;
    padding: 6rem;
}

.tableTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 6rem;
    padding-bottom: 3rem;
    margin-bottom: 2rem;

    border-bottom: 1px solid white;
}

.createUserButton {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .4rem;
    color: white;
    width: 20rem;
    height: 6rem;
}

.table {
    width: 100%;
}

.tableBody td {
    text-align: center;
    padding-top: 3rem;
}
